{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue dans le site e-commerce<span style="color: #F5871F" > BenHiTeck</span> vente des produis informatique</h1>
    <br>
    <h2>{{ titre }}</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorum explicabo fugiat quam, quod rerum sint
        tempore. Cumque dolore, eaque enim eos error explicabo id ipsum laborum laudantium molestiae nesciunt nulla
        obcaecati, optio quaerat, quo sed sit suscipit temporibus veniam.
    </p>
    <h2>chez<span style="color: #F5871F" > BenHiTeck</span> vous trouvee toujour des bon plans</h2>
{% endblock %}